.tickets {
    display: flex;
    flex-direction: column;
}

.ticket {
    background-color:rgb(82, 66, 98);
    border: 1px dotted darkmagenta;
    padding: 0.7rem;
    margin: 0.5rem 0;
    color:azure;
}

.btn {
    background-color: black;
    color: azure;
}

.ticket_finish {
    margin-left: auto;
}

.ticket_delete {
    margin-left: auto;
    background-color: aquamarine;
}